In [38]:
%matplotlib inline

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import nltk
import math

from sklearn.neighbors import NearestNeighbors

from sklearn import neighbors
from scipy.spatial.distance import cosine

from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

from sklearn.feature_selection import SelectKBest
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer
import re

import string
#from wordcloud import WordCloud, STOPWORDS
from sklearn.metrics import mean_squared_error

In [2]:
df=pd.read_csv('../csv/rating_only.csv');

In [3]:
df.head()

         asin      reviewerID  overall
0  159985130X   ALC5GH8CAMAI7        5
1  159985130X   AHKSURW85PJUE        4
2  159985130X   A38RMU1Y5TDP9        4
3  159985130X  A1XZUG7DFXXOS4        4
4  159985130X  A1MS3M7M7AM13X        5

In [4]:
df.describe()

             overall
count  346355.000000
mean        4.274958
std         1.120213
min         1.000000
25%         4.000000
50%         5.000000
75%         5.000000
max         5.000000

In [5]:
df.sort_values('overall').head()

              asin      reviewerID  overall
75860   B000PBZ5TA   A4VMN59AIEBD1        1
124103  B001DKWLDK  A2QUIKD5CVFE49        1
20280   B00028MKRQ   A9LWDP1HECAU0        1
124102  B001DKWLDK   AEAFHD09X8044        1
124100  B001DKWLDK  A21K28EQ023UUU        1

In [6]:
df.groupby('overall').count()

           asin  reviewerID
overall
1         16546       16546
2         16754       16754
3         33254       33254
4         68168       68168
5        211633      211633

In [7]:
print("total size ",df.index.size)

total size  346355

In [8]:
df.groupby('overall').count()

           asin  reviewerID
overall
1         16546       16546
2         16754       16754
3         33254       33254
4         68168       68168
5        211633      211633

In [9]:
#total users....
total_u=df['reviewerID'].unique().size
print(total_u)

38609

In [10]:
#total products ....
total_p=df['asin'].unique().size
print(total_p)

18534

In [11]:
#avg total rating per user 
df['overall'].sum()/total_u

38.349944313502036

In [12]:
#avg total rating per item 
df['overall'].sum()/total_p

79.88847523470379

In [13]:
#product rated by per user
#df.groupby('reviewerID')['overall'].count().sort_values()

#  euclidean similarity

In [14]:
df[df['reviewerID']=='ALC5GH8CAMAI7']

              asin     reviewerID  overall
0       159985130X  ALC5GH8CAMAI7        5
67549   B000LQV6HY  ALC5GH8CAMAI7        1
73107   B000NZKHKU  ALC5GH8CAMAI7        5
101342  B0013OSM0M  ALC5GH8CAMAI7        5
101404  B0013OSN6A  ALC5GH8CAMAI7        1
105435  B0013UU9WK  ALC5GH8CAMAI7        5
162430  B002BYI53C  ALC5GH8CAMAI7        5

In [15]:
def euc_sim(df,u1,u2):
    products_u1=df[df['reviewerID']==u1]
    products_u2=df[df['reviewerID']==u2]
    
    comman=pd.merge(products_u1,products_u2,how='inner',on='asin')
    print(comman)
    
    if comman.index.size==0:
        return 0
    
    total=((comman.overall_x-comman.overall_y)**2).values.sum()
    #print("Euclidean similarity......",1/(1+total))
    
    # sim-->1 is perfect similar....     sim-->0 not similar......
    return 1/(1+total)
  

def pearson_corr(df,u1,u2):
    products_u1=df[df['reviewerID']==u1]
    products_u2=df[df['reviewerID']==u2]
    
    comman=pd.merge(products_u1,products_u2,how='inner',on='asin')
    #print(comman)

    if comman.index.size==0:
        return 0
    
    avg1=products_u1.overall.sum()/products_u1.index.size
    avg2=products_u2.overall.sum()/products_u2.index.size
    
    t1=comman['overall_x']-avg1
    t2=comman['overall_y']-avg2
    
    #print(t1)
    #print(t2)
    #print(t1.multiply(t2))
    
    s1=sum(t1.multiply(t2))
    #print(s1)
    if s1==0:
        return 0
    
    
    #pearson relation range b/w -1 to 1 . 
    #-1 indicate perfectly negative linear relationship...
    # 0 indicates no linear relationship ....
    #+1 indicate perfectly positive linear relationship...
    
    cor=s1/(((sum(t1**2))**.5) * ((sum(t2**2))**.5))
    #print("pearson_correlation is  ",cor)
    return cor
    
    
    # corr by inbuild formula.....
    #x=comman['rating_x'].corr(comman['rating_y'],method='pearson')
    #print(x)
    #return comman['rating_x'].corr(comman['rating_y'],method='pearson')

In [47]:
euc_sim(df,'A32T585IZ0DJX2','ACKL6OEZEOL45')

         asin    reviewerID_x  overall_x   reviewerID_y  overall_y
0  B009TAKESK  A32T585IZ0DJX2          5  ACKL6OEZEOL45          5
1  B00LIASY0Y  A32T585IZ0DJX2          3  ACKL6OEZEOL45          5

0.20000000000000001

In [48]:
def my_average(df,user): 
    temp = df[df['reviewerID']==user].overall
    avg = temp.sum()/temp.count()
    return avg

In [56]:
#calculating  rating od a product  based on similarity with other users....
def calculate_rating(df,user,product):
    # calculate the predicted rating for a product
    numerator = 0
    denominator = 0
    cnt = 0
    for user2 in df['reviewerID'].drop_duplicates():
        rate_v_i_series = df.loc[(df['reviewerID']==user2) & (df['asin']==product)].overall # rating given by user2 to product
        if(rate_v_i_series.empty): # user has not rated the product
            continue
        cnt += 1
        rate_v_i = rate_v_i_series.iloc[0]
        
        avg_v = my_average(df,user2) # average rating given by user2
        
        weight = pearson_corr(df,user, user2) # Pearson correlation between user and user2
        
        numerator += (rate_v_i - avg_v)*weight
        
        denominator += weight
    
    rating_i = numerator/denominator + my_average(df,user) # Predicted rating of movie i 
    return rating_i

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
train,test =train_test_split(df)

In [35]:
test.index.size

86589

In [36]:
# function for finding root mean square error
def find_error(df):
   
    error = 0
    for index, row in df.iterrows():
        
        value = calculate_rating(df,row['reviewerID'], row['asin'])
        error += (value - row['overall'])**2
        if index>2 :
            break;
        print(index)
    # Mean square error
    error = error/df.shape[0]
    # root mean square error
    return math.sqrt(error)

In [40]:
#print("MSE is ..............",find_error(test[0:1]));

In [57]:
x=test[0:1]

In [ ]:
error = 0
for index, row in x.iterrows():

    value = calculate_rating(df,row['reviewerID'], row['asin'])
    error += (value - row['overall'])**2
    if index>2 :
        break;
    print(index)
# Mean square error
error = error/df.shape[0]
# root mean square error
print( math.sqrt(error) )