In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import nltk

from sklearn.neighbors import NearestNeighbors
from sklearn.linear_model import LogisticRegression
from sklearn import neighbors
from scipy.spatial.distance import cosine
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.feature_selection import SelectKBest
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer

from sklearn.metrics import mean_squared_error

In [7]:
df=pd.read_csv('../csv/rating_only.csv')

In [8]:
count = df.groupby("asin", as_index=False).count()[['asin','overall']]
#print(count.head())
count.rename(columns={'overall':'count'},inplace=True)
print(count.head())

         asin  count
0  159985130X     20
1  1933622865     11
2  1935009656      7
3  3812028492      9
4  7884890364     33

In [9]:
count.head()

         asin  count
0  159985130X     20
1  1933622865     11
2  1935009656      7
3  3812028492      9
4  7884890364     33

In [10]:
mean = df.groupby("asin", as_index=False).mean()
print(mean.head())

         asin   overall
0  159985130X  4.500000
1  1933622865  3.636364
2  1935009656  4.428571
3  3812028492  4.333333
4  7884890364  4.575758

In [15]:
dfMerged = pd.merge(mean,count, on=['asin'])
print(dfMerged.head())

         asin   overall  count
0  159985130X  4.500000     20
1  1933622865  3.636364     11
2  1935009656  4.428571      7
3  3812028492  4.333333      9
4  7884890364  4.575758     33

In [23]:
#taking top 1% products.....
size=int (dfMerged.index.size/100)
print(size)

185

In [18]:
dfMerged.sort_values(by='count',ascending=False,inplace=True)

In [28]:
most_popular=dfMerged.head(n=size)

In [32]:
most_popular.head(n=10)

             asin   overall  count
10706  B0037KMI0U  4.480257   1089
5308   B0010JLMO8  4.711864    767
8105   B001KXZ808  4.646638    699
12260  B0049LUI9O  4.526515    528
3114   B000GIPJY8  4.581053    475
7424   B001F51VRK  4.194030    469
3994   B000NL0T1G  4.624424    434
7425   B001F51VS4  4.250580    431
13316  B004YHKUXC  4.426230    427
15334  B007UZNS5W  4.568720    422

In [31]:
#dfMerged.sort_values(by='overall',ascending=False)